//引入清除默认样式
@import "./reset.scss";
@import "./tailwind.css";
*{
    user-select: none;
}
img{
    -webkit-user-drag: none;
}
::-webkit-scrollbar {
    display: none;}
html{
    scroll-behavior: smooth;
}