//项目提供scss全局变量
@font-face {
    font-family: "bafont";
    src: url("../assets/font/bafont.TTF") format("truetype");
}
:root {
    --main-color: #4ed7fb;
    --header-text-color:#505050;
    --main-white:#efefef;
    --duration-time:300ms;
    --header-height:64px;
}